#all2 {height:620px;
		width:1350px;
		background:#FFEDBA;
		margin-top:-10px;
		margin-left:-10px;
		margin-right:10px;
		padding-top:30px;
		 position:relative;
		}
		
#layer2 {margin-left:50px;
		height:570px;
		width:1250px;
		background:;
		position:absolute;
		
		z-index:0;
		}

#input-nama {width:300px;
height:60px;
background:;
margin-left:500px;
margin-top:40px;
position:absolute;
border:2px solid white;
border-radius:10px;
font-family:comic sans ms;
font-size:30px;
text-align:center;
color:white;
padding-top:10px;
z-index:1;
}

#start{ width:75px;
height:75px;
border-radius:5px;
margin-left:810px;
margin-top:40px;
font-family:comic sans ms;
font-size:20px;
background:transparent;
color:white;
position:absolute;
z-index:1;
}
#all {height:620px;
		width:1350px;
		background:#FFEDBA;
		margin-top:-10px;
		margin-left:-10px;
		margin-right:10px;
		padding-top:50px;
		 position:absolute;
		display:none;}
		
		
#layer {margin-left:50px;
		height:570px;
		width:1250px;
		border-radius:10px;
		background:#F5C34E;
		 position:absolute;
		z-index:;
		}

#tengah-kiri {
				width:120px;
				height:500px;
				background:;
				margin-top:20px;
				position:absolute;
				}

#nama{width:115px;
height:45px;
background:#FF943D;
border:1px solid white;
border-radius:5px;
margin-bottom:20px;
margin-left:3px;
text-align:center;
padding-top:15px;
font-family:comic sans ms;
font-size:20px;
color:white;
}
#level{width:115px;
height:90px;
background:#FF943D;
border:1px solid white;
border-radius:5px;
margin-bottom:20px;
margin-left:3px;
text-align:center;
padding-top:10px;
font-size:60px;
font-family:comic sans ms;
color:white;
}

#option{
margin-top:20px;
}

#mulai{
width:80px;
height:80px;
background:#FFA3D6;
border:4px solid aqua;
border-radius:100%;
margin-bottom:20px;
margin-left:3px;
text-align:center;
padding-top:;
font-family:comic sans ms;
font-size:20px;
color:white;
}


#stop{
width:80px;
height:80px;
background:#FFA3D6;
border:4px solid aqua;
border-radius:100%;
margin-bottom:20px;
margin-left:;
text-align:center;
padding-top:;
font-family:comic sans ms;
font-size:20px;
color:white;}

#ulangi{
width:80px;
height:80px;
background:#FFA3D6;
border:4px solid aqua;
border-radius:100%;
margin-bottom:20px;
margin-left:;
text-align:center;
padding-top:;
font-family:comic sans ms;
font-size:20px;
color:white;}

#tengah-tengah {width: 1000px;
				height: 500px;
			  background:;
			  margin-top:20px;
			  margin-left:125px;
			  position:absolute;
			  z-index:0;
}

#jam {background:;
width:150px;
height:90px;
margin-top:10px;
padding-top:;
font-size:50px;
font-family:comic sans ms;
color:aqua;
z-index:;
}

#karakter{width:1000px;
height:500px;
background:yellow;
position:absolute;
margin-top:-100px;
z-index:-1;
}
/*
#gambar{width: 1000px;
		height:500px;
		margin-top:;
		margin-left:;
		position:absolute;
		background:red;
		z-index:-1;
}*/

#tengah-kanan {
				width:120px;
				height:500px;
				background:;
				margin-top:20px;
				margin-left:1130px;
				position:absolute;
}

#stamina{width:106px;
height:30px;
background:;
border:1px solid white;
border-radius:5px;
margin-bottom:20px;
text-align:center;
padding-top:10px;
font-family:comic sans ms;
color:;
text-shadow: 2px ;
}

#textstamina{
text-align:center;
font-family:comic sans ms;
color:white;
z-index:1;
position:absolute;
}

#customstamina{
	text-align:center;
	width: 106px;
	height: 40px;
	background-color: #17fc03;
	position: absolute;
	margin-top: -10px;
	z-index: 0;
	border-radius: 5px;
}

#nilai{width:106px;
height:30px;
background:;
border:1px solid white;
border-radius:5px;
margin-bottom:20px;
text-align:center;
padding-top:10px;
font-family:comic sans ms;
color:;
}

#textnilai{
text-align:center;
font-family:comic sans ms;
color:white;
z-index:1;
position:absolute;
}

#customnilai{
	text-align:center;
	width: 106px;
	height: 40px;
	background-color: #17fc03;
	position: absolute;
	margin-top: -10px;
	z-index: 0;
	border-radius: 5px;
}

#hungry{width:106px;
height:30px;
background:;
border:1px solid white;
border-radius:5px;
margin-bottom:20px;
text-align:center;
padding-top:10px;
font-family:comic sans ms;
color:;
}

#texthungry{
text-align:center;
font-family:comic sans ms;
color:white;
z-index:1;
position:absolute;
}

#customhungry{
	text-align:center;
	width: 106px;
	height: 40px;
	background-color: #17fc03;
	position: absolute;
	margin-top: -10px;
	z-index: 0;
	border-radius: 5px;
}

#social{width:106px;
height:30px;
background:;
border:1px solid white;
border-radius:5px;
margin-bottom:20px;
text-align:center;
padding-top:10px;
font-family:comic sans ms;
color:;
}

#textsocial{
text-align:center;
font-family:comic sans ms;
color:white;
z-index:1;
position:absolute;
}

#customsocial{
	text-align:center;
	width: 106px;
	height: 40px;
	background-color: #17fc03;
	position: absolute;
	margin-top: -10px;
	z-index: 0;
	border-radius: 5px;
}


#fun{width:106px;
height:30px;
background:;
border:1px solid white;
border-radius:5px;
margin-bottom:20px;
text-align:center;
padding-top:10px;
font-family:comic sans ms;
color:;
}

#textfun{
text-align:center;
font-family:comic sans ms;
color:white;
z-index:1;
position:absolute;
}

#customfun{
	text-align:center;
	width: 106px;
	height: 40px;
	background-color: #17fc03;
	position: absolute;
	margin-top: -10px;
	z-index: 0;
	border-radius: 5px;
}
#action{ width:900px;
background:;
margin-top:530px;
 position:;
}

#school{
height:30px;
width:80px;
border-radius:5px;
background:#FFA3D6;
}

#sleep{
height:30px;
width:80px;
border-radius:5px;
background:#FFA3D6;
}

#talk{
height:30px;
width:80px;
border-radius:5px;
background:#FFA3D6;
}

#game{
height:30px;
width:80px;
border-radius:5px;
background:#FFA3D6;
}

#study{
height:30px;
width:80px;
border-radius:5px;
background:#FFA3D6;
}

#eat{
height:30px;
width:80px;
border-radius:5px;
background:#FFA3D6;
}